@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Futura Md BT";
  src: url(../futura-bt/futura-bt/futura-medium-bt.ttf);
}
@font-face {
  font-family: "Futura Hv BT";
  src: url(../futura-bt/futura-bt/futura-heavy-bt.ttf);
}
main {
  background: url(../Images/web-bg.png) lightgray -100.912px 0px/125.68% 144.817% no-repeat;
}

.home-banner {
  min-height: 538px;
  background: url(../Images/home-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-banner .col-lg-12 {
  min-height: 538px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.home-banner .col-lg-12 h6 {
  color: #FFF;
  font-family: "Futura Md BT";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home-banner .col-lg-12 h1 {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Arimo", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px;
  /* 112% */
}
.home-banner .col-lg-12 button {
  border-radius: 10.792px;
  background: #FFF;
  box-shadow: 0px 3.083px 3.083px 0px rgba(0, 0, 0, 0.25);
  padding: 7px 6px;
  border: none;
}
.home-banner .col-lg-12 button a {
  text-decoration: none;
  color: #333;
  font-family: "Futura Md BT";
  font-size: 16.204px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.495px;
}
.home-banner .col-lg-12 button a span {
  color: #002D55;
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 24.306px;
  font-style: normal;
  font-weight: 800;
  line-height: 23.495px;
  /* 96.667% */
}

.home-about {
  padding-top: 100px;
  padding-bottom: 60px;
}
.home-about h2 {
  font-family: "Arimo", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 114.286% */
  background: linear-gradient(224deg, #0E3F72 6.81%, #09956D 95.34%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-about p {
  color: #5A5A5A;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  /* 156.25% */
}
.home-about button {
  border-radius: 5px;
  padding: 7px 35px;
  border: none;
  background: linear-gradient(224deg, #174779 6.81%, #09956D 95.34%), #D9D9D9;
}
.home-about button a {
  text-decoration: none;
  color: #FFF;
  font-family: "Arimo", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 128% */
}

.line-hr hr {
  width: 100%;
  border: 1px solid #000;
  margin: 0px;
}

.home-registerd {
  padding: 65px 0px;
}
.home-registerd h2 {
  font-family: "Futura Md BT";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  /* 125% */
  background: linear-gradient(224deg, #0E3F72 6.81%, #09956D 95.34%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-registerd img {
  mix-blend-mode: multiply;
}

.home-services {
  padding-top: 60px;
  padding-bottom: 100px;
}
.home-services h2 {
  background: linear-gradient(202deg, #0E3F72 37.38%, #09956D 121.58%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Futura Md BT";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 100% */
  text-align: center;
  padding-bottom: 40px;
}
.home-services .image-box {
  border-radius: 9.909px;
  background: #002D55;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: -2.727px 3.637px 5.182px 0px rgba(0, 0, 0, 0.25);
}
.home-services .image-box img {
  position: relative;
  top: -30px;
  border-radius: 10px;
}
.home-services .image-box h3 {
  margin-top: -10px;
  color: #FFF;
  text-align: center;
  font-family: "Futura Hv BT";
  font-size: 19.984px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.892px;
  /* 104.545% */
}
.home-services .image-box hr {
  border: 1px solid #fff;
  width: 100%;
}
.home-services .image-box button {
  border-radius: 3.303px;
  background: #D9D9D9;
  padding: 5px 18px;
  box-shadow: -2.727px 3.637px 4px 0px rgba(0, 0, 0, 0.25);
}
.home-services .image-box button a {
  text-decoration: none;
  color: #002D55;
  font-family: "Futura Hv BT";
  font-size: 16.516px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.516px;
  /* 100% */
}
.home-services button {
  border-radius: 5px;
  padding: 10px 60px;
  border: none;
  background: linear-gradient(224deg, #174779 6.81%, #09956D 95.34%), #D9D9D9;
}
.home-services button a {
  color: #FFF;
  font-family: "Futura Hv BT";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.166px;
  /* 82.572% */
  text-decoration: none;
}

.home-orthopodic {
  background: url(../Images/home-orthopedic-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
}
.home-orthopodic h2 {
  color: #FFF;
  font-family: "Futura Md BT";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  /* 122.5% */
  letter-spacing: 0.4px;
}
.home-orthopodic p {
  color: #FFF;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  /* 156.25% */
}
.home-orthopodic button {
  background: #fff;
  padding: 10px 35px;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 10px;
}
.home-orthopodic button a {
  text-decoration: none;
  color: #474747;
  font-family: "Arimo", sans-serif;
  font-size: 20.873px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home-treatment {
  padding-top: 70px;
  padding-bottom: 60px;
}
.home-treatment h2 {
  text-align: center;
  font-family: "Futura Md BT";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  /* 112.5% */
  background: linear-gradient(237deg, #0E3F72 30.97%, #09956D 91.26%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-treatment p {
  color: #5F5F5F;
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 137.5% */
}
.home-treatment .head-box {
  padding: 10px 0px;
  border-radius: 20px;
  background: linear-gradient(217deg, #104175 -6.15%, #078863 130.71%), #002D55;
}
.home-treatment h3 {
  font-family: "Futura Hv BT";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 128% */
  background: linear-gradient(237deg, #0E3F72 30.97%, #09956D 91.26%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-treatment h6 {
  color: #585858;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
}
.home-treatment .content-box {
  background: #D9D9D9;
  height: 100%;
  padding: 10px;
}
.home-treatment button {
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(217deg, #104175 -6.15%, #078863 130.71%), #FFF;
}
.home-treatment button a {
  color: #FFF;
  font-family: "Arimo", sans-serif;
  font-size: 20.873px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.home-treatment .bg {
  background: #002D55;
  width: 100%;
  height: 8px;
}

.home-quality {
  padding: 60px 0px;
}
.home-quality h2 {
  font-family: "Futura Md BT";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  /* 112.5% */
  background: linear-gradient(237deg, #0E3F72 30.97%, #09956D 91.26%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-quality p {
  color: #5F5F5F;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
}
.home-quality h6 {
  color: #3D3D3D;
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 122.222% */
  background: #D9D9D9;
  padding: 5px;
  width: -moz-fit-content;
  width: fit-content;
}
.home-quality li {
  color: #3D3D3D;
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  /* 194.444% */
}

.home-doctors {
  padding: 60px 0px;
}
.home-doctors h2 {
  font-family: "Futura Md BT";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  /* 112.5% */
  text-align: center;
  background: linear-gradient(237deg, #0E3F72 30.97%, #09956D 91.26%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 157px;
}
.home-doctors .doctor-box {
  border-radius: 20px;
  background: #D9D9D9;
  padding: 23px;
}
.home-doctors .doctor-box .box {
  position: relative;
  top: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-doctors .doctor-box h3 {
  font-family: "Futura Hv BT";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 114.286% */
  background: linear-gradient(237deg, #0E3F72 30.97%, #09956D 91.26%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-doctors .doctor-box h4 {
  color: #202020;
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  /* 138.889% */
}
.home-doctors .doctor-box h5 {
  color: #202020;
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}
.home-doctors .doctor-box p {
  color: #202020;
  font-family: "Arimo", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 150% */
}
.home-doctors button {
  padding: 10px 20px;
  background: linear-gradient(217deg, #104175 -6.15%, #078863 130.71%), #FFF;
  border: none;
  border-radius: 10px;
}
.home-doctors button a {
  color: #FFF;
  font-family: "Arimo", sans-serif;
  font-size: 20.873px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.home-appointment {
  background: url(../Images/home-appointment.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px 0px;
}
.home-appointment h2 {
  color: #FFF;
  font-family: "Futura Hv BT";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home-appointment input {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #FFF;
  background: transparent;
  color: #FFF;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px;
}
.home-appointment textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: transparent;
  padding: 15px;
}
.home-appointment button {
  border-radius: 5px;
  background: #D9D9D9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 7px 35px;
  border: none;
}
.home-appointment button a {
  background: linear-gradient(217deg, #104175 -6.15%, #078863 130.71%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-family: "Futura Hv BT";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  /* 100% */
}
.home-appointment .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.home-appointment h3 {
  color: #FFF;
  text-shadow: -2px 3px 4px rgba(0, 0, 0, 0.25);
  font-family: "Futura Hv BT";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  /* 104.545% */
}
.home-appointment p {
  color: #FFF;
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.home-blog {
  padding: 60px 0px;
}
.home-blog h2 {
  font-family: "Futura Md BT";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  /* 112.5% */
  background: linear-gradient(171deg, #0E3F72 -44.2%, #09956D 111.61%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.home-blog p {
  color: #202020;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 131.25% */
  text-align: center;
}
.home-blog .post-slide {
  flex-shrink: 0;
  margin: 20px 15px 20px;
  height: 100%;
  padding: 12px 7px;
  border-radius: 18.556px;
  background: #D9D9D9;
}
.home-blog .post-slide h6 {
  color: #515151;
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 12.989px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.556px;
  /* 142.857% */
}
.home-blog .post-slide h3 {
  background: linear-gradient(220deg, #104175 6.25%, #078863 144.24%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Futura Hv BT";
  font-size: 20.411px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.05px;
  /* 122.727% */
  text-transform: uppercase;
}
.home-blog .post-slide button {
  border-radius: 2.783px;
  padding: 5px 20px;
  border: none;
  background: linear-gradient(220deg, #104175 6.25%, #078863 144.24%);
}
.home-blog .post-slide button a {
  color: #FFF;
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 14.844px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.556px;
  /* 125% */
  text-decoration: none;
}
.home-blog .owl-controls .owl-buttons {
  text-align: center;
  margin-top: 20px;
}
.home-blog .owl-controls .owl-buttons .owl-prev {
  background: transparent;
  position: absolute;
  left: -2%;
  bottom: 50%;
  padding: 0 10px 0 10px;
  border-radius: 0px;
  background: #D9D9D9;
  border: 2px solid #D9D9D9;
  border-radius: 50px;
  transition: background 0.5s ease 0s;
}
.home-blog .owl-controls .owl-buttons .owl-next {
  background: transparent;
  position: absolute;
  right: -2%;
  bottom: 50%;
  padding: 0 10px 0 10px;
  border-radius: 0px;
  background: #D9D9D9;
  border: 2px solid #D9D9D9;
  border-radius: 50px;
  transition: background 0.5s ease 0s;
}
.home-blog .owl-controls .owl-buttons .owl-prev:after,
.home-blog .owl-controls .owl-buttons .owl-next:after {
  content: "\f104";
  font-family: FontAwesome;
  color: #000;
  font-size: 20px;
}
.home-blog .owl-controls .owl-buttons .owl-next:after {
  content: "\f105";
}
.home-blog .owl-controls .owl-buttons .owl-prev:after,
.home-blog .owl-controls .owl-buttons .owl-next:after {
  content: "←";
  font-family: FontAwesome;
  color: #000;
  font-size: 20px;
}
.home-blog .owl-controls .owl-buttons .owl-next:after {
  content: "→";
  color: #000;
}
@media only screen and (max-width: 1280px) {
  .home-blog .post-slide .post-content {
    padding: 0px 15px 25px 15px;
  }
}

.home-faq {
  padding-top: 60px;
}
.home-faq h2 {
  font-family: "Futura Md BT";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  /* 112.5% */
  background: linear-gradient(171deg, #0E3F72 -44.2%, #09956D 111.61%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px;
  padding-bottom: 35px;
  text-align: center;
}
.home-faq .content-box {
  border-radius: 20px;
  background: #DEDEDE;
  padding: 40px;
}
.home-faq .content-box h3 {
  overflow: hidden;
  color: #002D55;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Arimo", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 160% */
  margin: 0px;
}
.home-faq .content-box p {
  overflow: hidden;
  color: #383838;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}
.home-faq .content-box hr {
  margin: 0px;
  border: 1px solid #000;
}

.home-testimonial {
  padding: 60px 0px;
}
.home-testimonial .post-slide {
  flex-shrink: 0;
  margin: 20px 15px 20px;
  height: 100%;
  padding: 12px 7px;
}
.home-testimonial .post-slide img {
  border-radius: 10px;
}
.home-testimonial .post-slide h3 {
  color: #1E1E1E;
  font-family: "Arimo", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 91.429% */
}
.home-testimonial .post-slide p {
  color: #1E1E1E;
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 130% */
}
.home-testimonial .post-slide h4 {
  color: #1E1E1E;
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  /* 100% */
}
.home-testimonial .owl-controls .owl-buttons {
  text-align: center;
  margin-top: 20px;
}
.home-testimonial .owl-controls .owl-buttons .owl-prev {
  background: transparent;
  position: absolute;
  left: -2%;
  bottom: 50%;
  padding: 0 10px 0 10px;
  border-radius: 0px;
  background: #D9D9D9;
  border: 2px solid #D9D9D9;
  border-radius: 50px;
  transition: background 0.5s ease 0s;
}
.home-testimonial .owl-controls .owl-buttons .owl-next {
  background: transparent;
  position: absolute;
  right: -2%;
  bottom: 50%;
  padding: 0 10px 0 10px;
  border-radius: 0px;
  background: #D9D9D9;
  border: 2px solid #D9D9D9;
  border-radius: 50px;
  transition: background 0.5s ease 0s;
}
.home-testimonial .owl-controls .owl-buttons .owl-prev:after,
.home-testimonial .owl-controls .owl-buttons .owl-next:after {
  content: "\f104";
  font-family: FontAwesome;
  color: #000;
  font-size: 20px;
}
.home-testimonial .owl-controls .owl-buttons .owl-next:after {
  content: "\f105";
}
.home-testimonial .owl-controls .owl-buttons .owl-prev:after,
.home-testimonial .owl-controls .owl-buttons .owl-next:after {
  content: "←";
  font-family: FontAwesome;
  color: #000;
  font-size: 20px;
}
.home-testimonial .owl-controls .owl-buttons .owl-next:after {
  content: "→";
  color: #000;
}
@media only screen and (max-width: 1280px) {
  .home-testimonial .post-slide .post-content {
    padding: 0px 15px 25px 15px;
  }
}

footer .foot {
  background: #D9D9D9;
  padding: 20px 0px;
}
footer .foot h3 {
  color: #383838;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
  padding-top: 40px;
}
footer .foot button {
  background: linear-gradient(171deg, #0E3F72 -44.2%, #09956D 111.61%), #D9D9D9;
  padding: 5px 14px;
  color: #FFF;
  font-family: "Futura Hv BT";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 100% */
  border: none;
}
footer .foot h4 {
  font-family: "Futura Hv BT";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 88% */
  background: linear-gradient(171deg, #0E3F72 -44.2%, #09956D 111.61%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .foot li a {
  text-decoration: none;
  color: #383838;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  /* 193.75% */
}
footer hr {
  margin: 0px;
}
footer .sub-foot {
  background: #D9D9D9;
  padding: 5px 0px;
}
footer .sub-foot h6 {
  color: #383838;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  /* 150% */
}/*# sourceMappingURL=style.css.map */