* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "Futura Md BT";
    src: url(../futura-bt/futura-bt/futura-medium-bt.ttf);
}

@font-face {
    font-family: "Futura Hv BT";
    src: url(../futura-bt/futura-bt/futura-heavy-bt.ttf);
}

@font-face {
    font-family:  "Futura Bk BT";
    src: url(../futura-bt/futura-bt/futura-book-bt.ttf);
}


header{
    position: fixed;
    width: 100%;
    .top-head{
        position: relative;
        width: 100%;
        background-color: #fff;
        h6{
            color: #002D55;
            font-family: "Arimo", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        p{
            color: #1E1E1E;
            font-family: "Futura Bk BT";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .navbar-brand{
        position: absolute;
        top: -70px;
        padding: 40px;
        left: 0px;
        border-radius: 0px 0px 35px 0px;
        border: 2px solid #005097;
        background: #FFF;
    }
    nav{
        background: linear-gradient(92deg, #005CAD 15.68%, #002D55 102.47%);
        box-shadow: 0px 4px 9.2px 0px rgba(0, 0, 0, 0.25);
        
        li{
            a{
                color: #FFF !important;
                font-family: "Futura Md BT";
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}

main {
    background: url(../Images/web-bg.png);
    background-size: auto;
    background-repeat: repeat;
    background-position: center;
}

.home-banner {
    min-height: 538px;
    background: url(../Images/home-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .col-lg-12 {
        min-height: 538px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        h6 {
            color: #FFF;
            font-family: "Futura Md BT";
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        h1 {
            color: #FFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: "Arimo", sans-serif;
            font-size: 50px;
            font-style: normal;
            font-weight: 800;
            line-height: 56px;
            /* 112% */
        }

        button {
            border-radius: 10.792px;
            background: #FFF;
            box-shadow: 0px 3.083px 3.083px 0px rgba(0, 0, 0, 0.25);
            padding: 7px 6px;
            border: none;

            a {
                text-decoration: none;

                span {
                    color: #002D55;
                    text-align: center;
                    font-family: "Arimo", sans-serif;
                    font-size: 24.306px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 23.495px;
                    /* 96.667% */
                }

                color: #333;
                font-family: "Futura Md BT";
                font-size: 16.204px;
                font-style: normal;
                font-weight: 400;
                line-height: 23.495px;
            }
        }
    }
}

.home-about {
    padding-top: 100px;
    padding-bottom: 60px;
    background: url(../Images/web-bg.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    h2 {
        font-family: "Arimo", sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 114.286% */
        background: linear-gradient(224deg, #0E3F72 6.81%, #09956D 95.34%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        color: #5A5A5A;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        /* 156.25% */
    }

    button {
        border-radius: 5px;
        padding: 7px 35px;
        border: none;
        background: linear-gradient(224deg, #174779 6.81%, #09956D 95.34%), #D9D9D9;

        a {
            text-decoration: none;
            color: #FFF;
            font-family: "Arimo", sans-serif;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            /* 128% */
        }
    }
}

.line-hr {
    hr {
        width: 100%;
        border: 1px solid #000;
        margin: 0px;
    }
}

.home-registerd {
    padding: 65px 0px;
    background: url(../Images/web-bg.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    h2 {
        font-family: "Futura Md BT";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px;
        /* 125% */
        background: linear-gradient(224deg, #0E3F72 6.81%, #09956D 95.34%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    img {
        mix-blend-mode: multiply;
    }
}

.home-services {
    padding-top: 60px;
    padding-bottom: 100px;
    background: url(../Images/web-bg.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    h2 {
        background: linear-gradient(202deg, #0E3F72 37.38%, #09956D 121.58%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Futura Md BT";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 100% */
        text-align: center;
        padding-bottom: 40px;
    }

    .image-box {
        border-radius: 9.909px;
        background: #002D55;
        padding: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: -2.727px 3.637px 5.182px 0px rgba(0, 0, 0, 0.25);

        img {
            position: relative;
            top: -30px;
            border-radius: 10px;
        }

        h3 {
            margin-top: -10px;
            color: #FFF;
            text-align: center;
            font-family: "Futura Hv BT";
            font-size: 19.984px;
            font-style: normal;
            font-weight: 400;
            line-height: 20.892px;
            /* 104.545% */
        }

        hr {
            border: 1px solid #fff;
            width: 100%;
        }

        button {
            border-radius: 3.303px;
            background: #D9D9D9;
            padding: 5px 18px;
            box-shadow: -2.727px 3.637px 4px 0px rgba(0, 0, 0, 0.25);

            a {
                text-decoration: none;
                color: #002D55;
                font-family: "Futura Hv BT";
                font-size: 16.516px;
                font-style: normal;
                font-weight: 400;
                line-height: 16.516px;
                /* 100% */
            }
        }
    }

    button {
        border-radius: 5px;
        padding: 10px 60px;
        border: none;
        background: linear-gradient(224deg, #174779 6.81%, #09956D 95.34%), #D9D9D9;

        a {
            color: #FFF;
            font-family: "Futura Hv BT";
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 18.166px;
            /* 82.572% */
            text-decoration: none;
        }
    }
}

.home-orthopodic {
    background: url(../Images/home-orthopedic-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;

    h2 {
        color: #FFF;
        font-family: "Futura Md BT";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        /* 122.5% */
        letter-spacing: 0.4px;
    }

    p {
        color: #FFF;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        /* 156.25% */
    }

    button {
        background: #fff;
        padding: 10px 35px;
        width: fit-content;
        border: none;
        border-radius: 10px;

        a {
            text-decoration: none;
            color: #474747;
            font-family: "Arimo", sans-serif;
            font-size: 20.873px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

.home-treatment {
    padding-top: 70px;
    padding-bottom: 60px;
    background: url(../Images/web-bg.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    h2 {
        text-align: center;
        font-family: "Futura Md BT";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        /* 112.5% */
        background: linear-gradient(237deg, #0E3F72 30.97%, #09956D 91.26%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        color: #5F5F5F;
        text-align: center;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        /* 137.5% */
    }

    .head-box {
        padding: 10px 0px;
        border-radius: 20px;
        background: linear-gradient(217deg, #104175 -6.15%, #078863 130.71%), #002D55;
    }

    h3 {
        font-family: "Futura Hv BT";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 128% */
        background: linear-gradient(237deg, #0E3F72 30.97%, #09956D 91.26%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h6 {
        color: #585858;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 137.5% */
    }

    .content-box {
        background: #D9D9D9;
        height: 100%;
        padding: 10px;
    }

    button {
        padding: 10px 30px;
        border: none;
        border-radius: 10px;
        background: linear-gradient(217deg, #104175 -6.15%, #078863 130.71%), #FFF;

        a {
            color: #FFF;
            font-family: "Arimo", sans-serif;
            font-size: 20.873px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: none;
        }
    }

    .bg {
        background: #002D55;
        width: 100%;
        height: 8px;
    }
}

.home-quality {
    padding: 60px 0px;
    background: url(../Images/web-bg.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    h2 {
        font-family: "Futura Md BT";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        /* 112.5% */
        background: linear-gradient(237deg, #0E3F72 30.97%, #09956D 91.26%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        color: #5F5F5F;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 137.5% */
    }

    h6 {
        color: #3D3D3D;
        font-family: "Arimo", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        /* 122.222% */
        background: #D9D9D9;
        padding: 5px;
        width: fit-content;
    }

    li {
        color: #3D3D3D;
        font-family: "Arimo", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 35px;
        /* 194.444% */
    }
}

.home-doctors {
    padding: 60px 0px;
    background: url(../Images/web-bg.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    h2 {
        font-family: "Futura Md BT";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        /* 112.5% */
        text-align: center;
        background: linear-gradient(237deg, #0E3F72 30.97%, #09956D 91.26%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 157px;
    }

    .doctor-box {
        border-radius: 20px;
        background: #D9D9D9;
        padding: 23px;

        .box {
            position: relative;
            top: -150px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        h3 {
            font-family: "Futura Hv BT";
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            /* 114.286% */
            background: linear-gradient(237deg, #0E3F72 30.97%, #09956D 91.26%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        h4 {
            color: #202020;
            font-family: "Arimo", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 25px;
            /* 138.889% */
        }

        h5 {
            color: #202020;
            text-align: center;
            font-family: "Arimo", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            /* 142.857% */
        }

        p {
            color: #202020;
            font-family: "Arimo", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            /* 150% */
        }
    }

    button {
        padding: 10px 20px;
        background: linear-gradient(217deg, #104175 -6.15%, #078863 130.71%), #FFF;
        border: none;
        border-radius: 10px;

        a {
            color: #FFF;
            font-family: "Arimo", sans-serif;
            font-size: 20.873px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: none;
        }
    }
}

.home-appointment {
    background: url(../Images/home-appointment.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px 0px;

    h2 {
        color: #FFF;
        font-family: "Futura Hv BT";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    input {
        width: 100%;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid #FFF;
        background: transparent;
        color: #FFF;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 15px;
    }

    textarea {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #FFF;
        color: #FFF;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: transparent;
        padding: 15px;
    }

    button {
        border-radius: 5px;
        background: #D9D9D9;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 7px 35px;
        border: none;

        a {
            background: linear-gradient(217deg, #104175 -6.15%, #078863 130.71%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-decoration: none;
            font-family: "Futura Hv BT";
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            /* 100% */
        }
    }

    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    h3 {
        color: #FFF;
        text-shadow: -2px 3px 4px rgba(0, 0, 0, 0.25);
        font-family: "Futura Hv BT";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        /* 104.545% */
    }

    p {
        color: #FFF;
        text-align: center;
        font-family: "Arimo", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 142.857% */
    }
}

.home-blog {
    padding: 60px 0px;
    background: url(../Images/web-bg.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    h2 {
        font-family: "Futura Md BT";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        /* 112.5% */
        background: linear-gradient(171deg, #0E3F72 -44.2%, #09956D 111.61%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }

    p {
        color: #202020;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        /* 131.25% */
        text-align: center;
    }

    .post-slide {
        flex-shrink: 0;
        margin: 20px 15px 20px;
        height: 100%;
        padding: 12px 7px;
        border-radius: 18.556px;
        background: #D9D9D9;

        h6 {
            color: #515151;
            text-align: center;
            font-family: "Arimo", sans-serif;
            font-size: 12.989px;
            font-style: normal;
            font-weight: 500;
            line-height: 18.556px;
            /* 142.857% */
        }

        h3 {
            background: linear-gradient(220deg, #104175 6.25%, #078863 144.24%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
            font-family: "Futura Hv BT";
            font-size: 20.411px;
            font-style: normal;
            font-weight: 400;
            line-height: 25.05px;
            /* 122.727% */
            text-transform: uppercase;
        }

        button {
            border-radius: 2.783px;
            padding: 5px 20px;
            border: none;
            background: linear-gradient(220deg, #104175 6.25%, #078863 144.24%);

            a {
                color: #FFF;
                text-align: center;
                font-family: "Arimo", sans-serif;
                font-size: 14.844px;
                font-style: normal;
                font-weight: 500;
                line-height: 18.556px;
                /* 125% */
                text-decoration: none;
            }
        }

    }

    .owl-controls .owl-buttons {
        text-align: center;
        margin-top: 20px;
    }

    .owl-controls .owl-buttons .owl-prev {
        background: transparent;
        position: absolute;

        left: -2%;
        bottom: 50%;
        padding: 0 10px 0 10px;
        border-radius: 0px;
        background: #D9D9D9;
        border: 2px solid #D9D9D9;
        border-radius: 50px;
        transition: background 0.5s ease 0s;
    }

    .owl-controls .owl-buttons .owl-next {
        background: transparent;
        position: absolute;
        // bottom: -14%;
        right: -2%;
        bottom: 50%;
        padding: 0 10px 0 10px;
        border-radius: 0px;
        background: #D9D9D9;
        border: 2px solid #D9D9D9;
        border-radius: 50px;
        transition: background 0.5s ease 0s;
    }

    .owl-controls .owl-buttons .owl-prev:after,
    .owl-controls .owl-buttons .owl-next:after {
        content: "\f104";
        font-family: FontAwesome;
        color: #000;
        font-size: 20px;
    }

    .owl-controls .owl-buttons .owl-next:after {
        content: "\f105";
    }

    .owl-controls .owl-buttons .owl-prev:after,
    .owl-controls .owl-buttons .owl-next:after {
        content: "\2190";
        font-family: FontAwesome;
        color: #000;
        font-size: 20px;
    }

    .owl-controls .owl-buttons .owl-next:after {
        content: "\2192";
        color: #000;
    }

    @media only screen and (max-width:1280px) {
        .post-slide .post-content {
            padding: 0px 15px 25px 15px;
        }
    }
}

.home-faq {
    padding-top: 60px;
    background: url(../Images/web-bg.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    h2 {
        font-family: "Futura Md BT";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        /* 112.5% */
        background: linear-gradient(171deg, #0E3F72 -44.2%, #09956D 111.61%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0px;
        padding-bottom: 35px;
        text-align: center;
    }

    .content-box {
        border-radius: 20px;
        background: #DEDEDE;
        padding: 40px;

        h3 {
            overflow: hidden;
            color: #002D55;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-family: "Arimo", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            /* 160% */
            margin: 0px;
        }

        p {
            overflow: hidden;
            color: #383838;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-family: "Arimo", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
        }

        hr {
            margin: 0px;
            border: 1px solid #000;
        }
    }
}

.home-testimonial {
    padding: 60px 0px;
    background: url(../Images/web-bg.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    .post-slide {
        flex-shrink: 0;
        margin: 20px 15px 20px;
        height: 100%;
        padding: 12px 7px;

        img {
            border-radius: 10px;
        }

        h3 {
            color: #1E1E1E;
            font-family: "Arimo", sans-serif;
            font-size: 35px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            /* 91.429% */
        }



        p {
            color: #1E1E1E;
            text-align: center;
            font-family: "Arimo", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            /* 130% */
        }

        h4 {
            color: #1E1E1E;
            text-align: center;
            font-family: "Arimo", sans-serif;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: 25px;
            /* 100% */
        }



    }

    .owl-controls .owl-buttons {
        text-align: center;
        margin-top: 20px;
    }

    .owl-controls .owl-buttons .owl-prev {
        background: transparent;
        position: absolute;

        left: -2%;
        bottom: 50%;
        padding: 0 10px 0 10px;
        border-radius: 0px;
        background: #D9D9D9;
        border: 2px solid #D9D9D9;
        border-radius: 50px;
        transition: background 0.5s ease 0s;
    }

    .owl-controls .owl-buttons .owl-next {
        background: transparent;
        position: absolute;
        // bottom: -14%;
        right: -2%;
        bottom: 50%;
        padding: 0 10px 0 10px;
        border-radius: 0px;
        background: #D9D9D9;
        border: 2px solid #D9D9D9;
        border-radius: 50px;
        transition: background 0.5s ease 0s;
    }

    .owl-controls .owl-buttons .owl-prev:after,
    .owl-controls .owl-buttons .owl-next:after {
        content: "\f104";
        font-family: FontAwesome;
        color: #000;
        font-size: 20px;
    }

    .owl-controls .owl-buttons .owl-next:after {
        content: "\f105";
    }

    .owl-controls .owl-buttons .owl-prev:after,
    .owl-controls .owl-buttons .owl-next:after {
        content: "\2190";
        font-family: FontAwesome;
        color: #000;
        font-size: 20px;
    }

    .owl-controls .owl-buttons .owl-next:after {
        content: "\2192";
        color: #000;
    }

    @media only screen and (max-width:1280px) {
        .post-slide .post-content {
            padding: 0px 15px 25px 15px;
        }
    }
}

footer {
    .foot {
        background: #D9D9D9;
        padding: 20px 0px;

        h3 {
            color: #383838;
            font-family: "Arimo", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            /* 137.5% */
            padding-top: 40px;
        }

        button {
            background: linear-gradient(171deg, #0E3F72 -44.2%, #09956D 111.61%), #D9D9D9;
            padding: 5px 14px;
            color: #FFF;
            font-family: "Futura Hv BT";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            /* 100% */
            border: none;
        }

        h4 {
            font-family: "Futura Hv BT";
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            /* 88% */
            background: linear-gradient(171deg, #0E3F72 -44.2%, #09956D 111.61%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        h6 {
            color: #383838;
            font-family: "Arimo", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
        }

        p {
            color: #383838;
            font-family: "Arimo", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
        }

        li {
            a {
                text-decoration: none;
                color: #383838;
                font-family: "Arimo", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 31px;
                /* 193.75% */
            }
        }
    }

    hr {
        margin: 0px;
    }

    .sub-foot {
        background: #D9D9D9;
        padding: 5px 0px;

        h6 {
            color: #383838;
            font-family: "Arimo", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            /* 150% */
        }
    }
}

.knee-replacement-banner {
    background: url(../Images/knee-replacement-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 538px;

    .col-12 {
        min-height: 538px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        h6 {
            margin: 0px;
            color: #303030;
            font-family: "Futura Md BT";
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        h1 {
            font-family: "Arimo", sans-serif;
            font-size: 50px;
            font-style: normal;
            font-weight: 800;
            line-height: 56px;
            /* 112% */
            background: linear-gradient(224deg, #0E3F72 6.81%, #09956D 95.34%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 0px;
        }

        button {
            border-radius: 10.792px;
            padding: 10px;
            border: none;
            background: linear-gradient(224deg, #0E3F72 6.81%, #09956D 95.34%), #FFF;
            box-shadow: 0px 3.083px 3.083px 0px rgba(0, 0, 0, 0.25);

            a {
                color: #FFF;
                text-align: center;
                font-family: "Arimo", sans-serif;
                text-decoration: none;
                font-size: 24.306px;
                font-style: normal;
                font-weight: 800;
                line-height: 23.495px;
                /* 96.667% */
            }
        }
    }
}

.knee-replacement-about {
    padding-top: 100px;
    padding-bottom: 80px;

    h6 {
        font-family: "Futura Hv BT";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 128% */
        background: linear-gradient(224deg, #0E3F72 6.81%, #09956D 95.34%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0px;
    }

    p {
        color: #5A5A5A;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        /* 156.25% */
        margin: 0px;
    }
}

.knee-association {
    background: url(../Images/home-orthopedic-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 540px;

    .hei {
        min-height: 540px;
    }

    hr {
        width: 100%;
        border: 1px solid #fff;
        rotate: 90deg;
        margin: 0px;
    }

    h6 {
        color: #FFF;
        text-align: center;
        font-family: "Arimo", sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        /* 88% */
    }

    p {
        color: #FFF;
        text-align: center;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        /* 137.5% */
    }

    h3 {
        color: #FFF;
        font-family: "Futura Hv BT";
        font-size: 26.152px;
        font-style: normal;
        font-weight: 400;
        line-height: 33.475px;
        /* 128% */
    }

    h4 {
        color: #FFF;
        font-family: "Arimo", sans-serif;
        font-size: 14.645px;
        font-style: normal;
        font-weight: 400;
        line-height: 20.922px;
        /* 142.857% */
    }
}

.knee-why-sachin {
    padding-top: 80px;
    padding-bottom: 60px;

    h2 {
        color: #174779;
        font-family: "Futura Md BT";
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 133.333% */
    }

    li {
        color: #5A5A5A;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        /* 156.25% */
    }

    p {
        color: #5A5A5A;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        /* 156.25% */
    }
}

.knee-area-specialisation {
    padding: 60px 0px;

    h2 {
        color: #174779;
        font-family: "Futura Md BT";
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 114.286% */
    }

    .cover {
        background: url(../Images/knee-specialisation.png);
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        padding: 70px;

        @media (max-width:991px) {
            padding: 20px;
        }

        h3 {
            color: #FFF;
            font-family: "Futura Md BT";
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            /* 128% */
            margin: 0px;
        }

        p {
            color: #FFF;
            font-family: "Arimo", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            /* 156.25% */
        }

        .hei {
            padding: 20px;
        }

        .svg-box {
            padding: 20px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #fff;

            @media (max-width:991px) {
                width: fit-content;
            }
        }
    }
}

.knee-benefits {
    padding-top: 60px;
    padding-bottom: 80px;

    h2 {
        text-align: center;
        font-family: "Futura Md BT";
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        /* 128.571% */
        background: linear-gradient(230deg, #0E3F72 9.66%, #09956D 101.42%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .svg-box {
        width: fit-content;
        padding: 20px;
        border-radius: 100px;
        position: relative;
        left: 0px;
        top: 20px;
        border: 1px solid #fff;
        background: linear-gradient(230deg, #0E3F72 9.66%, #09956D 101.42%);
    }

    .content-box {
        border-radius: 32px;
        border: 1px solid #002D55;
        padding: 30px;
    }

    h3 {
        text-align: center;
        font-family: "Futura Md BT";
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        /* 120% */
        background: linear-gradient(230deg, #0E3F72 9.66%, #09956D 101.42%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}

.knee-looking {
    padding-bottom: 60px;

    .bg {
        padding: 38px 0px;
        border-radius: 25px;
        background: linear-gradient(224deg, #0E3F72 39.54%, #09956D 117.77%), #002D55;
    }

    h2 {
        color: #EEF6FF;
        text-align: center;
        font-family: "Futura Md BT";
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        /* 128.571% */
        margin: 0px;
    }

    p {
        color: #FFF;
        text-align: center;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 137.5% */
        margin: 0px;
    }

    button {
        border-radius: 5px;
        background: #D9D9D9;
        box-shadow: -8px 8px 11.8px 0px rgba(0, 0, 0, 0.25);
        padding: 11px 50px;

        a {
            text-align: center;
            font-family: "Arimo", sans-serif;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            /* 96% */
            background: linear-gradient(224deg, #174779 6.81%, #09956D 95.34%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.knee-3d {
    padding: 65px 0px;

    h2 {
        font-family: "Futura Md BT";
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        /* 128.571% */
        background: linear-gradient(230deg, #0E3F72 9.66%, #09956D 101.42%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0px;
    }

    li {
        color: #5A5A5A;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        /* 218.75% */
    }

    h3 {
        font-family: "Futura Md BT";
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        /* 128% */
        background: linear-gradient(230deg, #0E3F72 9.66%, #09956D 101.42%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0px;
    }

    .bg {
        margin-top: 50px;
        border-radius: 15px;
        background: #D9D9D9;
        padding: 30px;
    }
}

.highly-rated-knee {
    padding: 60px 0px;

    h2 {
        margin: 0px;
        font-family: "Futura Md BT";
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        /* 128.571% */
        background: linear-gradient(230deg, #0E3F72 9.66%, #09956D 101.42%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        color: #5A5A5A;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 137.5% */
        margin: 0px;
    }

    .bg {
        border-radius: 20px;
        background: #E3E3E3;
        padding: 20px;
    }
}

.knee-cost {
    padding: 60px 0px;

    h2 {
        font-family: "Futura Md BT";
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        /* 128.571% */
        background: linear-gradient(230deg, #0E3F72 9.66%, #09956D 101.42%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0px;
    }

    p {
        color: #5A5A5A;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 137.5% */
        margin: 0px;
    }
}

.knee-youtube {
    padding: 50px 0px;
    background: linear-gradient(224deg, #0E3F72 39.54%, #09956D 117.77%), #002D55;

    h2 {
        color: #EEF6FF;
        text-align: center;
        font-family: "Futura Md BT";
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        /* 128.571% */
    }
}

.knee-why-choose {
    padding: 60px 0px;

    h2 {
        text-align: center;
        font-family: "Futura Md BT";
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        /* 128.571% */
        background: linear-gradient(230deg, #0E3F72 9.66%, #09956D 101.42%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h6 {
        background: linear-gradient(230deg, #0E3F72 9.66%, #09956D 101.42%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Futura Hv BT";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 109.091% */
    }

    p {
        color: #5A5A5A;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 137.5% */
    }

    .box {
        border-radius: 20px;
        border: 1px solid #000;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.knee-are-you-pain {
    .box {
        border-radius: 30px;
        padding: 30px 0px;
        background: linear-gradient(224deg, #0E3F72 39.54%, #09956D 117.77%), #002D55;
    }

    h2 {
        color: #EEF6FF;
        text-align: center;
        font-family: "Futura Md BT";
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        /* 128.571% */
    }

    p {
        color: #FFF;
        text-align: center;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 137.5% */
    }

    button {
        border-radius: 5px;
        background: #D9D9D9;
        box-shadow: -8px 8px 11.8px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 30px;

        a {
            text-align: center;
            font-family: "Arimo", sans-serif;
            text-decoration: none;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            /* 96% */
            background: linear-gradient(224deg, #174779 6.81%, #09956D 95.34%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.faq {
    padding: 60px 0px;

    h2 {
        font-family: "Futura Md BT";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        /* 112.5% */
        background: linear-gradient(171deg, #0E3F72 -44.2%, #09956D 111.61%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .box {
        border-radius: 20px;
        background: #DEDEDE;
        padding: 20px;

        h3 {
            color: #002D55;
            font-family: "Arimo", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            /* 160% */
            margin: 0px;
        }

        p {
            color: #383838;
            font-family: "Arimo", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            margin: 0px;
        }
    }
}

.top-bariatic {
    padding: 50px 0px;

    h2 {
        margin: 0px;
        font-family: "Arimo", sans-serif;
        font-size: 35px;
        font-style: normal;
        text-align: center;
        font-weight: 700;
        line-height: 40px;
        /* 114.286% */
        background: linear-gradient(224deg, #0E3F72 6.81%, #09956D 95.34%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        color: #5A5A5A;
        text-align: center;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        /* 156.25% */
    }
}

.what-bariatic {
    padding: 70px 0px;

    h3 {
        font-family: "Arimo", sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 114.286% */
        background: linear-gradient(224deg, #0E3F72 6.81%, #09956D 95.34%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0px;
    }

    p {
        color: #5A5A5A;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        /* 156.25% */
    }
}

.bariatic-special {
    background: url(../Images/home-orthopedic-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px 0px;

    h3 {
        color: #FFF;
        font-family: "Arimo", sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 114.286% */
    }

    li {
        list-style: none;
        color: #FFF;
        font-family: "Arimo", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        /* 138.889% */
    }

    h4 {
        margin: 0px;
        color: #FFF;
        font-family: "Futura Hv BT";
        font-size: 26.217px;
        font-style: normal;
        font-weight: 400;
        line-height: 32.079px;
        /* 122.361% */
    }

    p {
        margin: 0px;
        color: #FFF;

        font-family: "Arimo", sans-serif;
        font-size: 14.681px;
        font-style: normal;
        font-weight: 400;
        line-height: 20.973px;
        /* 142.857% */
    }

    h5 {
        margin: 0px;
        color: #FFF;

        font-family: "Arimo", sans-serif;
        font-size: 16.779px;
        font-style: normal;
        font-weight: 700;
        line-height: 23.071px;
        /* 137.5% */
    }

    button {
        width: fit-content;
        padding: 10px 40px;
        background: #fff;

        a {
            font-family: "Arimo", sans-serif;
            font-size: 20.873px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background: linear-gradient(217deg, #104175 -6.15%, #078863 130.71%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.bariatic-services {
    padding-top: 70px;
    padding-bottom: 135px;

    h2 {
        font-family: "Futura Md BT";
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 114.286% */
        background: linear-gradient(202deg, #0E3F72 37.38%, #09956D 121.58%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h3 {
        font-family: "Futura Md BT";
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        /* 100% */
        background: linear-gradient(230deg, #0E3F72 9.66%, #09956D 101.42%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        color: #5A5A5A;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 137.5% */
    }
}

.bariatic-potential {
    padding-bottom: 60px;

    h2 {
        font-family: "Futura Md BT";
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 114.286% */
        background: linear-gradient(202deg, #0E3F72 37.38%, #09956D 121.58%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 40px;
    }

    h3 {
        background: linear-gradient(230deg, #0E3F72 9.66%, #09956D 101.42%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0px;
        font-family: "Futura Md BT";
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        /* 100% */
    }

    p {
        margin: 0px;
        color: #5A5A5A;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 137.5% */
    }
}

.bariatic-surgery-process {
    padding: 60px 0px;
    background: url(../Images/home-orthopedic-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        color: #FFF;
        font-family: "Futura Md BT";
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 114.286% */
        margin: 0px;
        padding-bottom: 14px;
    }

    p {
        color: #FFF;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 137.5% */
        margin: 0px;
        padding-top: 6px;
        padding-bottom: 10px;
    }

    button {
        margin-top: 25px;
        background: #fff;
        padding: 7px 30px;
        width: fit-content;

        a {
            text-decoration: none;
            color: #086349;
            font-family: "Arimo", sans-serif;
            font-size: 20.873px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    .box {
        border-radius: 17px;
        border: 1px solid #FFF;
        padding: 13px;

        h3 {
            margin: 0px;
            color: #FFF;
            font-family: "Futura Hv BT";
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            /* 100% */
            margin: 0px;
            padding-bottom: 7px;
            padding-top: 6px;
        }

        hr {
            border: 1px solid #fff;
            width: 100%;
            margin: 0px;
        }
    }
}

.bariatic-cost {
    padding: 60px 0px;

    h2 {
        font-family: "Futura Md BT";
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 114.286% */
        background: linear-gradient(178deg, #104175 8.19%, #078863 89.69%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0px;
        padding-bottom: 15px;
    }

    p {
        color: #5A5A5A;
        text-align: center;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 137.5% */
        margin: 0px;
        padding-bottom: 10px;

        span {
            color: #5A5A5A;
            text-align: center;
            font-family: "Arimo", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 900;
            line-height: 22px;
            /* 137.5% */
        }
    }
}

.about-intro {
    padding: 100px 0px;

    h2 {
        font-family: "Arimo", sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        margin: 0px;
        padding-bottom: 9px;
        line-height: 40px;
        /* 114.286% */
        background: linear-gradient(224deg, #0E3F72 6.81%, #09956D 95.34%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        color: #5A5A5A;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        /* 143.75% */
        margin: 0px;
    }
}

.about-mission {
    .box {
        padding: 60px 20px;
        background: url(../Images/home-orthopedic-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
    }

    h3 {
        color: #FFF;
        font-family: "Arimo", sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 114.286% */
        margin: 0px;
    }

    p {
        color: #FFF;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        /* 143.75% */
    }
}

.about-why-us {
    padding: 70px 0px;

    h2 {
        font-family: "Arimo", sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 114.286% */
        background: linear-gradient(224deg, #0E3F72 6.81%, #09956D 95.34%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0px;
        padding-bottom: 30px;
    }

    .box {
        border-radius: 16px;
        background: #D9D9D9;
        padding: 20px 40px;

        h3 {
            font-family: "Arimo", sans-serif;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            /* 128% */
            background: linear-gradient(224deg, #0E3F72 6.81%, #09956D 95.34%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 0px;
            padding-bottom: 10px;
            padding-top: 8px;
        }

        p {
            color: #202020;
            text-align: center;
            font-family: "Arimo", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            /* 112.5% */
        }
    }
}

.about-usps {
    background: url(../Images/home-orthopedic-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 50px;

    .svg-box {
        padding-bottom: 19px;
    }

    h3 {
        color: #FFF;
        font-family: "Futura Md BT";
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 114.286% */
        margin: 0px;
        padding-bottom: 10px;
    }

    p {
        color: #FFF;
        font-family: "Arimo", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        /* 100% */
    }
}

.contact-banner {
    background: url(../Images/contact-banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        color: #FFF;
        text-align: center;
        text-shadow: -6px 7px 4.5px rgba(0, 0, 0, 0.25);
        font-family: "Bebas Neue";
        font-size: 78.429px;
        font-style: normal;
        font-weight: 700;
        line-height: 80.88px;
        /* 103.125% */
    }
}

.contact-form {
    padding: 100px 0px;

    h1 {
        font-family: "Futura Hv BT";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: linear-gradient(214deg, #104175 -7.08%, #078863 99.11%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h6 {
        color: #5A5A5A;
        font-family: "Arimo", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        /* 143.75% */
    }

    h4 {
        color: #282828;
        font-family: "Arimo", sans-serif;
        font-size: 23px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        /* 100% */
    }

    h2 {
        font-family: "Futura Md BT";
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 80% */
        background: linear-gradient(224deg, #0E3F72 6.81%, #09956D 95.34%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    input {
        color: #1A1A1A;
        font-family: "Arimo", sans-serif;
        padding: 10px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;
    }

    textarea {
        color: #1A1A1A;
        font-family: "Arimo" sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;
    }

    button {
        border-radius: 5px;
        background: linear-gradient(217deg, #104175 -6.15%, #078863 130.71%), #002D55;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 7px 27px;

        a {
            text-decoration: none;
            color: #FFF;
            font-family: "Futura Hv BT";
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            /* 100% */
        }
    }
}